{
        order coraza_waf first
	email webadmin@example.org
	storage file_system /data
}

import /caddy/logging.caddy
import /caddy/coraza.caddy
import /caddy/geofilter.caddy
import /caddy/example.caddy
